::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }
::-webkit-selection { background-color: #E13300; color: white; }

a {
    color: #003399;
    background-color: transparent;
    font-weight: normal;
}

h1 {
    /*color: #444;*/
    background-color: transparent;
    font-size: 18pt;
    font-weight: normal;
    margin: 0;
    padding: 14px 15px 10px 15px;
    line-height: 24px;
    vertical-align: middle;
}

code {
    font-size: 18px;
    background-color: #f9f9f9;
    border: 1px solid #999999;
    color: #002166;
    display: block;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
}

#body {
    margin: 0 15px 0 15px;
}

p.footer {
    text-align: right;
    font-size: 11px;
    border-top: 1px solid #999999;
    line-height: 32px;
    padding: 0 10px 0 10px;
    margin: 20px 0 0 0;
}

#container {
    margin: 10px;
    border: 1px solid #999999;
    background: #583F13;
    color: #fff;
    border-radius: 15px;
    overflow:hidden;
}

#container #header {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #999999;
}


#container #header span {
    height: 80px;
    text-align: center;
    vertical-align: middle;
    font-size: 36px;
    padding-left: 10px;
    width: 100%;
    clear: both;
}

#menu {
    min-height: 44px;
    max-height: 88px;
    background-color: #292929;
    color: #fff;
    clear: both;
    font-size: 18pt;
    border-bottom: 1px solid #999999;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    display: block;
    float: left;
    width: 100px;
    height: 44px;
    vertical-align: middle;
    line-height: 44px;
    text-align: center;
}

#menu ul li a {
    display: block;
    float: left;
    color: #cecece;
    text-decoration: none;
    height: 44px;
    width: 100px;
    padding: 0;
    margin: 0;
}

#menu ul li a:hover {
    color: #fff;
}

/**
*   Form styling
*/

#form_wrapper {
    width: 100%;
    text-align: center;
}

#form_wrapper form {
    width: 320px;
    margin: 10px auto;
    padding: 5px;
    text-align: left;
}

#form_wrapper form label {
    display: block;
    width: 280px;
    margin: 5px;
    padding: 5px 5px 0px 0px;
    text-align: left;
    font-size: 18pt;
}

#form_wrapper form input, #form_wrapper form a {
    margin: 5px;
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
    display: inline;
    left: 5px;
    right: 5px;
    width: 280px;
    font-family: BlackChancery, sans-serif;
    font-size: 16pt;
    text-decoration: none;
}

#form_wrapper form input[type="submit"], #form_wrapper form a  {
    background: #292929;
    color: #cccccc;
}

#form_wrapper form .half_width {
    width: 139px;
}

#form_wrapper form .full_width {
    width: 280px;
}


#form_wrapper #sign_up_button {
    margin: 5px 10px 5px 5px;
    width: 290px;
}

#form_wrapper form a#sign_up_form_button {
    margin: 5px 10px 5px 5px;
}

#form_wrapper p {
    font-size: 18pt;
}

table {
    margin: 10px auto;
}

table, tr, td{
    border: 1px solid #ffffff;
    font-size: 18px;
    border-collapse: collapse;
    text-align: center;
}

td {
    width: 100px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}

a {
    color: #fff;
    text-decoration: none;
}

.gray_button {
    background: #292929;
    color: #cccccc;
    border-radius: 5px;
    margin: 15px auto;
    padding: 10px;
    font-family: sans-serif;
    font-size: 12px !important;
}

.full_width {
    width: 100%;
    text-align: center;
}

.field_description {
    background: #292929;
    color: #cccccc;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 12px !important;
    padding: 10px;
}